<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.master.backend.mapper.FunctionalCaseModuleMapper">

    <select id="selectBaseModuleById" resultType="cn.master.backend.payload.dto.system.BaseModule">
        SELECT id, name, pos, project_Id, parent_id
        FROM functional_case_module
        WHERE id = #{0}
    </select>

    <select id="selectModuleByParentIdAndPosOperator"
            parameterType="cn.master.backend.payload.dto.project.NodeSortQueryParam"
            resultType="cn.master.backend.payload.dto.system.BaseModule">
        SELECT id, name, pos, project_Id, parent_id
        FROM functional_case_module
        WHERE parent_id = #{parentId}
        <if test="operator == 'moreThan'">
            AND pos &gt; #{pos}
        </if>
        <if test="operator == 'lessThan'">
            AND pos &lt; #{pos}
        </if>
        ORDER BY pos
        <if test="operator == 'lessThan' or operator == 'latest'">
            DESC
        </if>
        LIMIT 1
    </select>
</mapper>
